:root {
    --dark-bg-color: #1F2937;
    --button-color: #3882F6;
    --text-white: #F9FAF8;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

.main-text {
    color: var(--text-white);
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: var(--button-color);
    color: var(--text-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header-container {
    background-color: var(--dark-bg-color);
}

.header {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerLogo {
    font-size: 24px;
    color: var(--text-white);
    font-weight: 600;
}

.navLinks {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.top-container {
    background-color: var(--dark-bg-color);
}


.topBox {
    display: flex;
    flex: 1;
    gap: 12px;
    box-sizing: border-box;
    width: 80vw;
    margin: 80px auto;
}

.topBox .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    width: 50%;
}

.topBox p {
    margin: 0;
}

button {
    width: max-content;
    padding: 8px 24px;
    font-size: 16px;
}

.placeholderBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: grey;
}




.cardsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 60px 0;
}

.cardsBox h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: space-between;
    align-items: center;
}

.card-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    max-width: 200px;
    padding: 0 20px;
    text-align: center;
}

.card-square {
    width: 100%;
    height: 160px;
    max-height: 200px;
    border: 3px solid rgb(47, 150, 247);
    border-radius: 12px;
    box-sizing: border-box;
}



.quoteContainer {
    width: 100%;
    background-color: #E5E7EB;
}

.quoteBox {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 60px;

}

.quoteBox p {
    padding: 0;
    margin: 0;
}

.quoteBox .quote {
    font-size: 36px;
    font-style: italic;
    color: var(--dark-bg-color);
    text-align: justify;
    font-weight: 300;
}

.quoteBox .author {
    margin-left: auto;
    font-weight: bold;
}




.action-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.action-block {
    margin: 0 auto;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 60px;
    background-color: var(--button-color);
    color: white;
    padding: 30px 60px;
    border-radius: 6px;
}

.action-title {
    font-weight: 600;
    font-size: 18px;
}

.action-block p {
    padding: 0;
    margin: 0;
}

.action-block .secondary-text {
    font-size: 12px;
}

.action-block button {
    border: 2px solid white;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--dark-bg-color);
    padding: 40px;
    font-size: 12px;
}